@{
    ViewBag.Title = "School Information Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SurveyApp.Models.School

<h2><a href="javascript:void(0);" id="back" onclick="history.go(-1);"></a> &nbsp;School Information Editor</h2>

<style>
    ._panel { background: #fafafa; border: solid 1px #cccccc; padding: 10px; border-radius: 6px; }
    /*.validation-summary-errors ul li:nth-child(-n+1) {
        display: none;
    }*/
</style>
<br />

@using (Html.BeginForm("SchoolAddEdit", "School", FormMethod.Post, new { style = "width:600px;" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.SchoolId, new { name = "hdnSchoolId", value = Model.SchoolId })
    <div class="form-group">
        <label class="control-label col-sm-3">School Name</label>
        <div class="col-sm-9">            
            @Html.TextBoxFor(m => m.Name, null, new { id = "txtName", @class = "form-control", placeholder = "School Name" })
            <br />
            <button type="submit" class="btn btn-default">Save Information</button>
        </div>
    </div>
}
