@using System.Data;

@{ 
    DataSet dsCharts = SurveyApp.DataHelper.DashboardGetCharts();
    string dASP = "", pASP = "", tASP = "";
    string dABC = "", pABC = "", tABC = "", pSRS = "", tSRS = "";
    string dPEDsql = "", pPEDsql = "";
    string dCareGiver = "", pCareGiver = "";
    string dPES = "", pPES = "";
    string dGSI = "", pGSI = "";
    string dAPRS = "", tAPRS = "";
    string dWT = "", tWT = "";

    if (dsCharts != null && dsCharts.Tables != null && dsCharts.Tables.Count > 0 && dsCharts.Tables[0].Rows.Count > 0)
    {
        foreach (DataRow dr in dsCharts.Tables[0].Rows)
        {
            #region Abbreviated Sensory Profile
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 1)
            {
                dASP += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                if(dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 1)
                {
                    pASP += dr["Score"] + ",";
                    tASP += "0" + ",";
                }
                else if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 2)
                {
                    tASP += dr["Score"] + ",";
                    pASP += "0" + ",";
                }
            }
            #endregion

            #region Aberrant Behavior Checklist Social Responsiveness Scale
            if (dr["SurveyID"] != DBNull.Value && ((int)dr["SurveyID"] == 4 || (int)dr["SurveyID"] == 5))
            {
                dABC += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";

                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 1)
                {
                    if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 4)
                    {
                        pABC += dr["Score"] + ",";
                        tABC += "0" + ",";
                        pSRS += "0" + ",";
                        tSRS += "0" + ",";
                    }
                    else if(dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 5)
                    {
                        pSRS += dr["Score"] + ",";
                        tSRS += "0" + ",";
                        pABC += "0" + ",";
                        tABC += "0" + ",";
                    }
                }
                else if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 2)
                {
                    if ((int)dr["SurveyID"] == 4)
                    {
                        tABC += dr["Score"] + ",";
                        pABC += "0" + ",";
                        pSRS += "0" + ",";
                        tSRS += "0" + ",";
                    }
                    else if((int)dr["SurveyID"] == 5)
                    {
                        tSRS += dr["Score"] + ",";
                        pSRS += "0" + ",";
                        pABC += "0" + ",";
                        tABC += "0" + ",";
                    }
                }
            }
            #endregion

            #region PedsQL-Parent Report for Children(8-12)
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 8)
            {
                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 1)
                {
                    dPEDsql += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                    pPEDsql += dr["Score"] + ",";
                }
            }
            #endregion

            #region Caregiver Strain Questionnaire
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 2)
            {
                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 1)
                {
                    dCareGiver += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                    pCareGiver += dr["Score"] + ",";
                }
            }
            #endregion

            #region Family Empowerment Scale
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 14)
            {
                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 1)
                {
                    dPES += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                    pPES += dr["Score"] + ",";
                }
            }
            #endregion

            #region GI Severity Index 
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 3)
            {
                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 1)
                {
                    dGSI += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                    pGSI += dr["Score"] + ",";
                }
            }
            #endregion

            #region Academic Progress Rating Scales
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 27)
            {
                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 2)
                {
                    dAPRS += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                    tAPRS += dr["Score"] + ",";
                }
            }
            #endregion

            #region Weekly Teacher
            if (dr["SurveyID"] != DBNull.Value && (int)dr["SurveyID"] == 24)
            {
                if (dr["UserType"] != DBNull.Value && (int)dr["UserType"] == 2)
                {
                    dWT += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
                    tWT += dr["Score"] + ",";
                }
            }
            #endregion
        }
    }
}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
    $(function () {
       //-----------------------------------------ABC VS SRS Line Chart----------------------------------------
        $('#ABCSRScontainer').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'ABC vs SRS'
        },
        subtitle: {
            text: 'Parent/Teacher Quaterly Trend'
        },
        xAxis: {
            categories: [@Html.Raw(dABC.Trim(','))],

            plotLines: [{
                color: '#93CDDD',
                width: 2,
                value: 1,
                dashStyle: 'LongDash'
            }]

            ,

        },

        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Parents ABC Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pABC.Trim(','))],
            color: '#7CB5EC'

        }, {
        name: 'Teachers ABC Scores',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tABC.Trim(','))],
            color: '#434348'

        }, {
        name: 'Parents SRS Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pSRS.Trim(','))],
            color: '#7CB5EC'

        }, {
            name: 'Teachers SRS Scores',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tSRS.Trim(','))],
            color: '#434348'
        }]
        });
        //-----------------------------------------End----------------------------------------

        //-----------------------------------------ABC Sub Categories-Parents----------------------------------------
        $('#ABCSubCategoriesParent').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Aberrant  Behaviour Checklist'
            },
            subtitle: {
                text: 'Parent Quaterly Trend'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Irritability/Agitation',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'Letargy, Social Withdrawl',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#67F97C'

            }, {
                name: 'Sterotypic Behavior',
                marker: {
                    symbol: 'square'
                },
                data: [42, 45, 46, 48, 42, 42, 50, ],
                color: '#FF9E4F'

            }, {
                name: 'Hyperactivity/Noncompliance',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 42, 49, 41, 40, 50, ],
                color: '#8778EC'
            }

            , {
                name: 'Inappropriate Sppech',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 22, 49, 10, 20, 30, ],
                color: '#434348'
            }],




        });
        //-----------------------------------------End----------------------------------------

        //-----------------------------------------ABC Sub Categories-Teacher----------------------------------------
        $('#ABCSubCategoryTeacher').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Aberrant  Behaviour Checklist'
            },
            subtitle: {
                text: 'Teacher Quaterly Trend'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Irritability/Agitation',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'Letargy, Social Withdrawl',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#67F97C'

            }, {
                name: 'Sterotypic Behavior',
                marker: {
                    symbol: 'square'
                },
                data: [42, 45, 46, 48, 42, 42, 50, ],
                color: '#FF9E4F'

            }, {
                name: 'Hyperactivity/Noncompliance',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 42, 49, 41, 40, 50, ],
                color: '#8778EC'
            }

            , {
                name: 'Inappropriate Sppech',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 22, 49, 10, 20, 30, ],
                color: '#434348'
            }],
        });
        //-----------------------------------------End----------------------------------------


        //-----------------------------------------Social Responsivness Scale(SRS) sub scale----------------------------------------
        $('#SRSSubScale').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Social Responsivness Scale(SRS) sub scale'
            },
            subtitle: {
                text: 'Parently Quaterly Trend'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Social Awareness',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'Social Cognition',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#67F97C'

            }, {
                name: 'Social Communication',
                marker: {
                    symbol: 'square'
                },
                data: [42, 45, 46, 48, 42, 42, 50, ],
                color: '#FF9E4F'

            }, {
                name: 'Social Motivation',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 42, 49, 41, 40, 50, ],
                color: '#8778EC'
            }

            , {
                name: 'Restricted Interests and Repetitive Bahaviour',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 22, 49, 10, 20, 30, ],
                color: '#434348'
            }],
        });
        //-----------------------------------------End----------------------------------------


        //-----------------------------------------Social Responsivness Scale(SRS) sub scale----------------------------------------
        $('#SRSSubScaleTeacher').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Social Responsivness Scale(SRS) sub scales'
            },
            subtitle: {
                text: 'Teacher Quaterly Trend'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Social Awareness',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'Social Cognition',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#67F97C'

            }, {
                name: 'Social Communication',
                marker: {
                    symbol: 'square'
                },
                data: [42, 45, 46, 48, 42, 42, 50, ],
                color: '#FF9E4F'

            }, {
                name: 'Social Motivation',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 42, 49, 41, 40, 50, ],
                color: '#8778EC'
            }

            , {
                name: 'Restricted Interests and Repetitive Bahaviour',
                marker: {
                    symbol: 'diamond'
                },
                data: [40, 40, 22, 49, 10, 20, 30, ],
                color: '#434348'
            }],
        });
        //-----------------------------------------End----------------------------------------




        //-----------------------------------------Short Language Profile----------------------------------------
        $('#ShortLanguageProfile').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Short Language Profile'
            },
            subtitle: {
                text: 'Parent/Teacher Quaterly Trend'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Parent SPL',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'Teacher SPL',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#434348'

            }],
        });
        //-----------------------------------------End----------------------------------------



        //-----------------------------------------Abbreviated Sensory Profile- Parent & Teacher----------------------------------------
        $('#AbbreviatedSensoryProfile').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Abbreviated Sensory Profile- Parent & Teacher'
            },
            subtitle: {
                text: 'Parent/Teacher Quaterly Trend'
            },
            xAxis: {
                categories: [@Html.Raw(dASP.Trim(','))]
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Parent SPL',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(pASP.Trim(','))],
                color: '#73B3EF'

            }, {
                name: 'Teacher SPL',
                marker: {
                    symbol: 'diamond'
                },
                data: [@Html.Raw(tASP.Trim(','))],
                color: '#434348'

            }],
        });
        //-----------------------------------------End----------------------------------------



        //-----------------------------------------PedsQL-Parent----------------------------------------
        $('#PedsQLParent').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'PedsQL-Parent Report for Children(8-12)'
            },
            subtitle: {
                text: 'Parent Quaterly Trend'
            },
            xAxis: {
                categories: [@Html.Raw(dPEDsql.TrimEnd(','))]
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Scores',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(pPEDsql.TrimEnd(','))],
                color: '#73B3EF'

            }],
        });
        //-----------------------------------------End----------------------------------------




        //-----------------------------------------PedsQL Parent Report----------------------------------------
        $('#PedsQLParentReport').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'PedsQL Parent Report'
            },
            subtitle: {
                text: 'Parent Quaterly Trend'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'PedsQL(8-12)',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'PedsQL(13-18)',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#434348'

            }],
        });
        //-----------------------------------------End----------------------------------------




        //-----------------------------------------CaregiverStrainQuesionaire----------------------------------------
        $('#CaregiverStrainQuesionaire').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Caregiver Strain Quesionaire'
            },
            subtitle: {
                text: 'Parent Quaterly Trend'
            },
            xAxis: {
                categories: [@Html.Raw(dCareGiver.TrimEnd(','))]
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Scores',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(pCareGiver.TrimEnd(','))],
                color: '#73B3EF'

            }],
        });
        //-----------------------------------------End----------------------------------------





        //-----------------------------------------CaregiverStrainQuesionaire----------------------------------------
        $('#FamilyEmpowementScale').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Family Empowerment Scale'
            },
            subtitle: {
                text: 'Parent Quaterly Trend'
            },
            xAxis: {
                categories: [@Html.Raw(dPES.TrimEnd(','))]
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Scores',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(pPES.TrimEnd(','))],
                color: '#73B3EF'

            }],
        });
        //-----------------------------------------End----------------------------------------


        //-----------------------------------------GI Severity Index----------------------------------------
        $('#GISeverityIndex').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'GI Severity Index'
            },
            subtitle: {
                text: 'Parent Quaterly Trend'
            },
            xAxis: {
                categories: [@Html.Raw(dGSI.TrimEnd(','))]
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Scores',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(pGSI.TrimEnd(','))],
                color: '#73B3EF'

            }],
        });
        //-----------------------------------------End----------------------------------------

        //-----------------------------------------Academic Progress DSM Level 1----------------------------------------
        $('#AcademicProgressDSMLevel1').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Academic Progress DSM Level 1'
            },
            subtitle: {
                text: 'Teachers: Quaterly Trend'
            },
            xAxis: {
                categories: [@Html.Raw(dAPRS.TrimEnd(','))]
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Scores',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(tAPRS.TrimEnd(','))],
                color: '#73B3EF'

            }],
        });
        //-----------------------------------------End----------------------------------------



        //-----------------------------------------* When level changes for Child----------------------------------------
        $('#levelchangesforChild').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: '* When level changes for Child'
            },
            subtitle: {
                text: 'Academic Progress'
            },
            xAxis: {
                categories: ['Q1-Jan 2014', 'Q2-May 2014', 'Q4-Sep 2014', 'Q5-Jan 2015', 'Q6-May 2015', 'Q7-Sep 2015', 'Q8-Jan 2016']
            },
            yAxis: {
                title: {
                    text: 'Scores'
                },
                labels: {
                    formatter: function () {
                        return this.value + '';
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'DSM Level 1',
                marker: {
                    symbol: 'square'
                },
                data: [65, 69, 69, 70, 72, 74, 80, ],
                color: '#73B3EF'

            }, {
                name: 'DSM Level 2',
                marker: {
                    symbol: 'diamond'
                },
                data: [62, 65, 66, 60, 72, 72, 80, ],
                color: '#434348'

            }],
        });
        //-----------------------------------------End----------------------------------------


        //-----------------------------------------Weekly Progress Scroe----------------------------------------
        $('#WeeklyProgressScroe').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Weekly Progress Score'
            },
            subtitle: {
                text: 'Teachers: Weekly trend'
            },
            xAxis: {
                categories: [@Html.Raw(dWT.TrimEnd(','))]
            },

            yAxis: {
                plotLines: [{
                    color: '#4F81BD',
                    width: 2,
                    value: 70,
                    label: {
                        text: 'Avg score',
                        align: 'right',
                        x: -10
                    }
                }]
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Scores',
                marker: {
                    symbol: 'square'
                },
                data: [@Html.Raw(tWT.TrimEnd(','))],
                color: '#73B3EF'

            }],
        });
        //-----------------------------------------End----------------------------------------





    });


</script>

<style type="text/css">
    .voffset {
        margin-top: 10px;
    }
</style>
<h3>Respondents Progress</h3>
<div class="row">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="ABCSRScontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="ABCSubCategoriesParent" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>

<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="ABCSubCategoryTeacher" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="SRSSubScale" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>


<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="SRSSubScaleTeacher" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="ShortLanguageProfile" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>


<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="AbbreviatedSensoryProfile" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="PedsQLParent" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>



<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="PedsQLParentReport" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="CaregiverStrainQuesionaire" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>


<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="FamilyEmpowementScale" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="GISeverityIndex" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>


<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="AcademicProgressDSMLevel1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="levelchangesforChild" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>


<div class="row voffset">

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="WeeklyProgressScroe" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

    <div class="col-sm-6" style="background-color:transparent;">

        <div id="levelchangesforChild2312" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    </div>

</div>