
@using System.Data;

@{ 
    int studyId = ViewData["studyId"] != null ? Convert.ToInt32(ViewData["studyId"]) : 0;
    int childId = ViewData["childIdts"] != null ? Convert.ToInt32(ViewData["childIdts"]) : 0;
    string studyName = ViewData["studyName"] != null ? ViewData["studyName"].ToString() : "";

    DataSet dsCharts = SurveyApp.DataHelper.DashboardGetCharts(studyId, WebSecurity.CurrentUserId, childId);

    string dASP = "", pASP = "", tASP = "";
    string dABC = "", pABC = "", tABC = "", pSRS = "", tSRS = "";
    string dPEDsql = "", pPEDsql = "";
    string dCareGiver = "", pCareGiver = "";
    string dPES = "", pPES = "";
    string dGSI = "", pGSI = "";
    string dAPRS = "", tAPRS = "";
    string dWT = "", tWT = "";
    string dSLP = "", pSLP = "", tSLP = "";

    string dpABCg = "", aspABCg = "", tstpABCg = "", unpABCg = "", vspABCg = "", qpABCg = "";
    string dtABCg = "", astABCg = "", tsttABCg = "", untABCg = "", vstABCg = "", qtABCg = "";

    string dpSRSg = "", aspSRSg = "", tstpSRSg = "", unpSRSg = "", vspSRSg = "", qpSRSg = "";
    string dtSRSg = "", astSRSg = "", tsttSRSg = "", untSRSg = "", vstSRSg = "", qtSRSg = "";

    string dpPQLg = "", aspPQLg = "", tstpPQLg = "";
    string dpWLCg = "", aspWLCg = "", tstpWLCg = "";

    //Auditory Sensitivity Taste/Smell Sensitivity  Underresponsiveness Visual Sensitivity  Questionnaire

    if (dsCharts != null && dsCharts.Tables != null && dsCharts.Tables.Count > 0)
    {
        #region Aberrant Behavior Checklist Social Responsiveness Scale
        DataRow[] drABCP = dsCharts.Tables[0].Select("SURVEYid = 4");
        foreach(DataRow dr in drABCP)
        {
            dABC += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            pABC += dr["Score"] + ",";
        }
        DataRow[] drABCT = dsCharts.Tables[1].Select("SURVEYid = 4");
        foreach (DataRow dr in drABCT)
        {
            tABC += dr["Score"] + ",";
        }

        DataRow[] drSRSP = dsCharts.Tables[0].Select("SURVEYid = 5");
        foreach (DataRow dr in drSRSP)
        {
            pSRS += dr["Score"] + ",";
        }
        DataRow[] drSRST = dsCharts.Tables[1].Select("SURVEYid = 5");
        foreach (DataRow dr in drSRST)
        {
            tSRS += dr["Score"] + ",";
        }
        #endregion

        #region Abbreviated Sensory Profile
        DataRow[] drASPP = dsCharts.Tables[0].Select("SURVEYid = 4");
        foreach (DataRow dr in drASPP)
        {
            dASP += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            pASP += dr["Score"] + ",";
        }
        DataRow[] drASPT = dsCharts.Tables[1].Select("SURVEYid = 4");
        foreach (DataRow dr in drASPT)
        {
            tASP += dr["Score"] + ",";
        }
        #endregion

        //#region Short Language Profile
        //DataRow[] drSLPP = dsCharts.Tables[5].Select("UserType = 1");
        //foreach (DataRow dr in drSLPP)
        //{
        //    dSLP += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
        //    pSLP += dr["Score"] + ",";
        //}
        //DataRow[] drSLPT = dsCharts.Tables[5].Select("UserType = 2");
        //foreach (DataRow dr in drSLPT)
        //{
        //    tSLP += dr["Score"] + ",";
        //}
        //#endregion

        //#region Weekly Teacher 
        //DataRow[] drWT = dsCharts.Tables[6].Select("UserType = 2");
        //foreach (DataRow dr in drWT)
        //{
        //    dWT += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
        //    tWT += dr["Score"] + ",";
        //}
        //#endregion

        #region PedsQL-Parent Report for Children(8-12)
        DataRow[] drPEDsqlP = dsCharts.Tables[2].Select("SURVEYid IN (6 ,7, 8, 9)");
        foreach (DataRow dr in drPEDsqlP)
        {
            dPEDsql += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            pPEDsql += dr["Score"] + ",";
        }
        #endregion

        #region Caregiver Strain Questionnaire
        DataRow[] drCareGiverP = dsCharts.Tables[2].Select("SURVEYid = 2");
        foreach (DataRow dr in drCareGiverP)
        {
            dCareGiver += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            pCareGiver += dr["Score"] + ",";
        }
        #endregion

        #region Family Empowerment Scale
        DataRow[] drPESrP = dsCharts.Tables[2].Select("SURVEYid = 14");
        foreach (DataRow dr in drPESrP)
        {
            dPES += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            pPES += dr["Score"] + ",";
        }
        #endregion

        #region GI Severity Index 
        DataRow[] drGSIP = dsCharts.Tables[2].Select("SURVEYid = 3");
        foreach (DataRow dr in drGSIP)
        {
            dGSI += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            pGSI += dr["Score"] + ",";
        }
        #endregion

        #region Academic Progress Rating Scales
        DataRow[] drAPRST = dsCharts.Tables[2].Select("SURVEYid = 27");
        foreach (DataRow dr in drAPRST)
        {
            dAPRS += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            tAPRS += dr["Score"] + ",";
        }
        #endregion

        #region Aberrant  Behaviour Checklist : Parent Quarterly Trend
        DataRow[] drASBC = dsCharts.Tables[3].Select("QuestionGroup = 'Irritability' AND SURVEYid = 4");
        foreach (DataRow dr in drASBC)
        {
            dpABCg += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            aspABCg += dr["Score"] + ",";
        }
        DataRow[] drTSTP = dsCharts.Tables[3].Select("QuestionGroup = 'Lethargy' AND SURVEYid = 4");
        foreach (DataRow dr in drTSTP)
        {
            tstpABCg += dr["Score"] + ",";
        }
        DataRow[] drSteros = dsCharts.Tables[3].Select("QuestionGroup = 'Stereotypy' AND SURVEYid = 4");
        foreach (DataRow dr in drSteros)
        {
            unpABCg += dr["Score"] + ",";
        }
        DataRow[] drHypers = dsCharts.Tables[3].Select("QuestionGroup = 'Hyperactivity' AND SURVEYid = 4");
        foreach (DataRow dr in drHypers)
        {
            vspABCg += dr["Score"] + ",";
        }
        DataRow[] drInps = dsCharts.Tables[3].Select("QuestionGroup = 'Inappropriate Speech' AND SURVEYid = 4");
        foreach (DataRow dr in drInps)
        {
            qpABCg += dr["Score"] + ",";
        }
        #endregion

        #region Aberrant  Behaviour Checklist : Teacher Quarterly Trend
        DataRow[] drIrrisT = dsCharts.Tables[4].Select("QuestionGroup = 'Irritability' AND SURVEYid = 4");
        foreach (DataRow dr in drIrrisT)
        {
            dtABCg += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            astABCg += dr["Score"] + ",";
        }
        DataRow[] drLetharsT = dsCharts.Tables[4].Select("QuestionGroup = 'Lethargy' AND SURVEYid = 4");
        foreach (DataRow dr in drLetharsT)
        {
            tsttABCg += dr["Score"] + ",";
        }
        DataRow[] drSterosT = dsCharts.Tables[4].Select("QuestionGroup = 'Stereotypy' AND SURVEYid = 4");
        foreach (DataRow dr in drSterosT)
        {
            untABCg += dr["Score"] + ",";
        }
        DataRow[] drHypersT = dsCharts.Tables[4].Select("QuestionGroup = 'Hyperactivity' AND SURVEYid = 4");
        foreach (DataRow dr in drHypersT)
        {
            vstABCg += dr["Score"] + ",";
        }
        DataRow[] drInpsT = dsCharts.Tables[4].Select("QuestionGroup = 'Inappropriate Speech' AND SURVEYid = 4");
        foreach (DataRow dr in drInpsT)
        {
            qtABCg += dr["Score"] + ",";
        }
        #endregion

        #region Social Responsivness Scale(SRS) sub scale : Parent Quarterly Trend
        DataRow[] drAwareness = dsCharts.Tables[3].Select("QuestionGroup = 'Social Awareness' AND SURVEYid = 5");
        foreach (DataRow dr in drAwareness)
        {
            dpSRSg += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            aspSRSg += dr["Score"] + ",";
        }
        DataRow[] drCognition = dsCharts.Tables[3].Select("QuestionGroup = 'Social Cognition' AND SURVEYid = 5");
        foreach (DataRow dr in drCognition)
        {
            tstpSRSg += dr["Score"] + ",";
        }
        DataRow[] drCommunication = dsCharts.Tables[3].Select("QuestionGroup = 'Social Communication' AND SURVEYid = 5");
        foreach (DataRow dr in drCommunication)
        {
            unpSRSg += dr["Score"] + ",";
        }
        DataRow[] drMotivation = dsCharts.Tables[3].Select("QuestionGroup = 'Social Motivation' AND SURVEYid = 5");
        foreach (DataRow dr in drMotivation)
        {
            vspSRSg += dr["Score"] + ",";
        }
        DataRow[] drBahaviour = dsCharts.Tables[3].Select("QuestionGroup = 'Restricted Interests and Repetitive Bahaviour' AND SURVEYid = 5");
        foreach (DataRow dr in drBahaviour)
        {
            qpSRSg += dr["Score"] + ",";
        }
        #endregion

        #region Social Responsivness Scale(SRS) sub scale : Teacher Quarterly Trend
        DataRow[] drAwarenessT = dsCharts.Tables[4].Select("QuestionGroup = 'Social Awareness' AND SURVEYid = 5");
        foreach (DataRow dr in drAwarenessT)
        {
            dtSRSg += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
            astSRSg += dr["Score"] + ",";
        }
        DataRow[] drCognitionT = dsCharts.Tables[4].Select("QuestionGroup = 'Social Cognition' AND SURVEYid = 5");
        foreach (DataRow dr in drCognitionT)
        {
            tsttSRSg += dr["Score"] + ",";
        }
        DataRow[] drCommunicationT = dsCharts.Tables[4].Select("QuestionGroup = 'Social Communication' AND SURVEYid = 5");
        foreach (DataRow dr in drCommunicationT)
        {
            untSRSg += dr["Score"] + ",";
        }
        DataRow[] drMotivationT = dsCharts.Tables[4].Select("QuestionGroup = 'Social Motivation' AND SURVEYid = 5");
        foreach (DataRow dr in drMotivationT)
        {
            vstSRSg += dr["Score"] + ",";
        }
        DataRow[] drBahaviourT = dsCharts.Tables[4].Select("QuestionGroup = 'Restricted Interests and Repetitive Bahaviour' AND SURVEYid = 5");
        foreach (DataRow dr in drBahaviourT)
        {
            qtSRSg += dr["Score"] + ",";
        }
        #endregion

        //#region PedsQL Parent Report : Parent Quarterly Trend
        //DataRow[] drPedSQL0812 = dsCharts.Tables[16].Select("SurveyID = 8");
        //foreach (DataRow dr in drPedSQL0812)
        //{
        //    dpPQLg += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
        //    aspPQLg += dr["Score"] + ",";
        //}
        //#endregion

        //#region * When level changes for Child
        //DataRow[] drDSM1T = dsCharts.Tables[17].Select("QuestionGroup = 'DSM Level 1'");
        //foreach (DataRow dr in drDSM1T)
        //{
        //    dpWLCg += "'" + (dr["ScheduleDate"] != DBNull.Value ? Convert.ToDateTime(dr["ScheduleDate"]).ToString("MM/dd/yyyy") : "") + "',";
        //    aspWLCg += dr["Score"] + ",";
        //}
        //DataRow[] drDSM2T = dsCharts.Tables[17].Select("QuestionGroup = 'DSM Level 2'");
        //foreach (DataRow dr in drDSM2T)
        //{
        //    tstpWLCg += dr["Score"] + ",";
        //}
        //#endregion
    }

}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>




<script type="text/javascript">
    $(function () {
    //-----------------------------------------ABC VS SRS Line Chart----------------------------------------
    $('#ABCSRScontainer').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'ABC vs SRS'
        },
        subtitle: {
            text: 'Parent/Teacher Quaterly Trend<br/>*Low is better'
        },
        xAxis: {
            categories: [@Html.Raw(dABC.Trim(','))]
            //,plotLines: [{
            //    color: '#93CDDD',
            //    width: 2,
            //    value: 0.6,
            //    dashStyle: 'LongDash',
            //    label: {
            //        text: 'Last quarter minimum'
            //    },
            //    ID:'LF'
            //}]


        },
        yAxis: {
            max:200,
            plotLines: [{
                value: 195, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'SRS Max(195)', style: { "color": "#333333", "fontSize": "10px" } }
            },
            {
                value: 140, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'ABC Max(174)', style: { "color": "#333333", "fontSize": "10px" } }
            }],
          

        
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Parents ABC Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pABC.Trim(','))],
            color: '#7CB5EC'

        }, {
            name: 'Teachers ABC Scores',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tABC.Trim(','))],
            color: '#434348'

        }, {
            name: 'Parents SRS Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pSRS.Trim(','))],
            color: '#7CB5EC'

        }, {
            name: 'Teachers SRS Scores',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tSRS.Trim(','))],
            color: '#434348'
        }]
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------ABC Sub Categories-Parents----------------------------------------
    $('#ABCSubCategoriesParent').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Aberrant  Behaviour Checklist'
        },
        subtitle: {
            text: '*Lower is Better'
        },
        xAxis: {
            categories: [@Html.Raw(dpABCg.Trim(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Irritability/Agitation',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(aspABCg.Trim(','))],
            color: '#73B3EF'

        }, {
            name: 'Letargy, Social Withdrawl',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tstpABCg.Trim(','))],
            color: '#67F97C'

        }, {
            name: 'Sterotypic Behavior',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(unpABCg.Trim(','))],
            color: '#FF9E4F'

        }, {
            name: 'Hyperactivity/Noncompliance',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(vspABCg.Trim(','))],
            color: '#8778EC'
        }

        , {
            name: 'Inappropriate Sppech',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(qpABCg.Trim(','))],
            color: '#434348'
        }],
        yAxis:{
            max: 50,
            plotLines: [{
                value: 48, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(48)', style: { "color": "#8778EC", "fontSize": "10px" } }
            },
            {
                value: 12, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(12)', style: { "color": "#434348", "fontSize": "10px" } }
            },
            {
                value: 45, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(45)', style: { "color": "#73B3EF", "fontSize": "10px" } }
            },
            {
                value: 48, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(48)', style: { "color": "#67F97C", "fontSize": "10px" } }
            },
            {
                value: 21, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(21)', style: { "color": "#FF9E4F", "fontSize": "10px" } }
            }]
        }


    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------ABC Sub Categories-Teacher----------------------------------------
    $('#ABCSubCategoryTeacher').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Aberrant  Behaviour Checklist'
        },
        subtitle: {
            text: 'Teacher Quaterly Trend'
        },
        xAxis: {
            categories: [@Html.Raw(dtABCg.Trim(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Irritability/Agitation',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(astABCg.Trim(','))],
            color: '#73B3EF'

        }, {
            name: 'Letargy, Social Withdrawl',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tsttABCg.Trim(','))],
            color: '#67F97C'

        }, {
            name: 'Sterotypic Behavior',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(untABCg.Trim(','))],
            color: '#FF9E4F'

        }, {
            name: 'Hyperactivity/Noncompliance',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(vstABCg.Trim(','))],
            color: '#8778EC'
        }

        , {
            name: 'Inappropriate Sppech',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(qtABCg.Trim(','))],
            color: '#434348'
        }], yAxis: {
            max: 50,
            plotLines: [{
                value: 48, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(48)', style: { "color": "#8778EC", "fontSize": "10px" } }
            },
            {
                value: 12, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(12)', style: { "color": "#434348", "fontSize": "10px" } }
            },
            {
                value: 45, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(45)', style: { "color": "#73B3EF", "fontSize": "10px" } }
            },
            {
                value: 48, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right",userHTML:true, text: ' <br> Max(48)', style: { "color": "#67F97C", "fontSize": "10px" } }
            },
            {
                value: 21, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(21)', style: { "color": "#FF9E4F", "fontSize": "10px" } }
            }]
        }
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------Social Responsivness Scale(SRS) sub scale----------------------------------------
    $('#SRSSubScale').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Social Responsivness Scale(SRS) sub scale'
        },
        subtitle: {
            text: '*Lower is better'
        },
        xAxis: {
            categories: [@Html.Raw(dpSRSg.Trim(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Social Awareness',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(aspSRSg.Trim(','))],
            color: '#73B3EF'

        }, {
            name: 'Social Cognition',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tstpSRSg.Trim(','))],
            color: '#67F97C'

        }, {
            name: 'Social Communication',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(unpSRSg.Trim(','))],
            color: '#FF9E4F'

        }, {
            name: 'Social Motivation',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(vspSRSg.Trim(','))],
            color: '#8778EC'
        }

        , {
            name: 'Restricted Interests and Repetitive Bahaviour',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(qpSRSg.Trim(','))],
            color: '#434348'
        }],yAxis: {
            max: 70,
            plotLines: [{
                value: 24, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(24)', style: { "color": "#73B3EF", "fontSize": "10px" } }
            },
            {
                value: 36, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(36)', style: { "color": "#67F97C", "fontSize": "10px" } }
            },
            {
                value: 63, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(63)', style: { "color": "#FF9E4F", "fontSize": "10px" } }
            },
            {
                value: 36, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(36)', style: { "color": "#8778EC", "fontSize": "10px" } }
            },
            {
                value: 36, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br>.<br>.Max(36)', style: { "color": "#434348", "fontSize": "10px" } }
            }]
        }
         


    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------Social Responsivness Scale(SRS) sub scale----------------------------------------
    $('#SRSSubScaleTeacher').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Social Responsivness Scale(SRS) sub scales'
        },
        subtitle: {
            text: '*Lower is better'
        },
        xAxis: {
            categories: [@Html.Raw(dtSRSg.Trim(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Social Awareness',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(astSRSg.Trim(','))],
            color: '#73B3EF'

        }, {
            name: 'Social Cognition',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tsttSRSg.Trim(','))],
            color: '#67F97C'

        }, {
            name: 'Social Communication',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(untSRSg.Trim(','))],
            color: '#FF9E4F'

        }, {
            name: 'Social Motivation',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(vstSRSg.Trim(','))],
            color: '#8778EC'
        }

        , {
            name: 'Restricted Interests and Repetitive Bahaviour',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(qtSRSg.Trim(','))],
            color: '#434348'
        }], yAxis: {
            max: 70,
            plotLines: [{
                value: 24, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(24)', style: { "color": "#73B3EF", "fontSize": "10px" } }
            },
            {
                value: 36, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(36)', style: { "color": "#67F97C", "fontSize": "10px" } }
            },
            {
                value: 63, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", text: 'Max(63)', style: { "color": "#FF9E4F", "fontSize": "10px" } }
            },
            {
                value: 36, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br> Max(36)', style: { "color": "#8778EC", "fontSize": "10px"} }
            },
            {
                value: 36, color: 'black', dashStyle: 'shortdash', width: 1, label: { align: "right", userHTML: true, text: ' <br>.<br>.Max(36)', style: { "color": "#434348", "fontSize": "10px" } }
            }]
        }
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
@*<script type="text/javascript">
    $(function () {
    //-----------------------------------------Short Language Profile----------------------------------------
    $('#ShortLanguageProfile').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Short Language Profile'
        },
        subtitle: {
            text: 'Parent/Teacher Quaterly Trend'
        },
        xAxis: {
            categories: [@Html.Raw(dSLP.Trim(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Parent SPL',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pSLP.Trim(','))],
            color: '#73B3EF'

        }, {
            name: 'Teacher SPL',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tSLP.Trim(','))],
            color: '#434348'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>*@
<script type="text/javascript">
    $(function () {
    //-----------------------------------------Abbreviated Sensory Profile- Parent & Teacher----------------------------------------
    $('#AbbreviatedSensoryProfile').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Abbreviated Sensory Profile'
        },
        subtitle: {
            text: 'Parent vs Teacher<br/>*low is better'
        },
        xAxis: {
            categories: [@Html.Raw(dASP.Trim(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Parent SPL',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pASP.Trim(','))],
            color: '#73B3EF'

        }, {
            name: 'Teacher SPL',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tASP.Trim(','))],
            color: '#434348'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------PedsQL-Parent----------------------------------------
    $('#PedsQLParent').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Peds Quality of Life'
        },
        subtitle: {
            text: '*Higher is better'
        },
        xAxis: {
            categories: [@Html.Raw(dPEDsql.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pPEDsql.TrimEnd(','))],
            color: '#00cc00'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
@*<script type="text/javascript">
    $(function () {
    //-----------------------------------------PedsQL Parent Report----------------------------------------
    $('#PedsQLParentReport').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'PedsQL Parent Report'
        },
        subtitle: {
            text: 'Parent Quaterly Trend'
        },
        xAxis: {
            categories: [@Html.Raw(dpPQLg.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'PedsQL(8-12)',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(aspPQLg.TrimEnd(','))],
            color: '#73B3EF'

        }, {
            name: 'PedsQL(13-18)',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tstpPQLg.TrimEnd(','))],
            color: '#434348'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>*@
<script type="text/javascript">
    $(function () {
    //-----------------------------------------CaregiverStrainQuesionaire----------------------------------------
    $('#CaregiverStrainQuesionaire').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Caregiver Strain Quesionnaire'
        },
        subtitle: {
            text: '*Lower is better'
        },
        xAxis: {
            categories: [@Html.Raw(dCareGiver.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pCareGiver.TrimEnd(','))],
            color: '#cc0000'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------CaregiverStrainQuesionaire----------------------------------------
    $('#FamilyEmpowementScale').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Family Empowerment Scale'
        },
        subtitle: {
            text: '*Higher is better'
        },
        xAxis: {
            categories: [@Html.Raw(dPES.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pPES.TrimEnd(','))],
            color: '#00cc00'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------GI Severity Index----------------------------------------
    $('#GISeverityIndex').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'GI Severity Index'
        },
        subtitle: {
            text: '*Lower is better'
        },
        xAxis: {
            categories: [@Html.Raw(dGSI.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(pGSI.TrimEnd(','))],
            color: '#cc0000'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
<script type="text/javascript">
    $(function () {
    //-----------------------------------------Academic Progress DSM Level 1----------------------------------------
    $('#AcademicProgressDSMLevel1').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Academic Progress'
        },
        subtitle: {
            text: '*High is better'
        },
        xAxis: {
            categories: [@Html.Raw(dAPRS.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(tAPRS.TrimEnd(','))],
            color: '#73B3EF'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>
@*<script type="text/javascript">
    $(function () {
    //-----------------------------------------* When level changes for Child----------------------------------------
    $('#levelchangesforChild').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '* When level changes for Child'
        },
        subtitle: {
            text: 'Academic Progress'
        },
        xAxis: {
            categories: [@Html.Raw(dpWLCg.TrimEnd(','))]
        },
        yAxis: {
            title: {
                text: 'Scores'
            },
            labels: {
                formatter: function () {
                    return this.value + '';
                }
            }
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'DSM Level 1',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(aspWLCg.TrimEnd(','))],
            color: '#73B3EF'

        }, {
            name: 'DSM Level 2',
            marker: {
                symbol: 'diamond'
            },
            data: [@Html.Raw(tstpWLCg.TrimEnd(','))],
            color: '#434348'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>*@
@*<script type="text/javascript">
    $(function () {
    //-----------------------------------------Weekly Progress Scroe----------------------------------------
    $('#WeeklyProgressScroe').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Weekly Progress Score'
        },
        subtitle: {
            text: 'Teachers: Weekly trend'
        },
        xAxis: {
            categories: [@Html.Raw(dWT.TrimEnd(','))]
        },

        yAxis: {
            plotLines: [{
                color: '#4F81BD',
                width: 2,
                value: 70,
                label: {
                    text: 'Avg score',
                    align: 'right',
                    x: -10
                }
            }]
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Scores',
            marker: {
                symbol: 'square'
            },
            data: [@Html.Raw(tWT.TrimEnd(','))],
            color: '#73B3EF'

        }],
    });
        //-----------------------------------------End----------------------------------------
    });
</script>*@

<style type="text/css">
    .voffset {
        margin-top: 10px;
    }
    .graphTabs ul{
        margin: 0px;
        list-style: none;
        padding: 0px;        
    }
    .graphTabs li a{
        text-align: left;        
        border: 1px solid transparent;
        padding: 10px 15px;
        display: block;
        position: relative;
        text-shadow: none;
        text-decoration: none;
        color: #333;
        min-width: 141px;
        position: relative;        
        z-index: 1111;
        background-color: #FFF;
    }
    .graphTabs li:first-child a{        
        /*border-top: solid 1px #CCC;*/
    }
    .graphTabs li a:hover{
        background-color: #c7d1d6;        
    }
    .graphTabs li a.selected{
        /*background-color: #c7d1d6;*/
        border-right:none;
        cursor: default;
        border-top: solid 1px #CCC;
        border-left: solid 1px #CCC;
        border-bottom: solid 1px #CCC;
        right: -1px;
    }
</style>

<h3 style="text-transform:capitalize;">@studyName - Statistical Analysis</h3>

@if (childId == 0 ) {
    var c = dsCharts.Tables[5].Rows.Count;
    DataRow[] drABCGroup = dsCharts.Tables[5].Select("SURVEYid = 4");
    string temp = "{name: '#name#',marker: {symbol: 'circle'},data: [#min#, #max# ]}",
           ABCg = "";
    DataRow[] drSRSGroup = dsCharts.Tables[5].Select("SURVEYid = 5");
    string SRSg = "";

    foreach (DataRow dr in drABCGroup)
    {
        ABCg += temp.Replace("#name#", dr["Name"].ToString()).Replace("#min#", dr["minScore"].ToString()).Replace("#max#", dr["maxScore"].ToString()) + ",";
    }
    foreach (DataRow dr in drSRSGroup)
    {
        SRSg += temp.Replace("#name#", dr["Name"].ToString()).Replace("#min#", dr["minScore"].ToString()).Replace("#max#", dr["maxScore"].ToString()) + ",";
    }
    ABCg = ABCg.TrimEnd(',');
    SRSg = SRSg.TrimEnd(',');
        
    <script type="text/javascript">
    $(function () {
        //-----------------------------------------Abbreviated Sensory Profile- Parent & Teacher----------------------------------------
            $('.dvABCGroup').highcharts({
                chart: {
                    type: 'spline',
                    backgroundColor: null
                },
                title: {
                    text: 'ABC for Group (@studyName)'
                },
                subtitle: {
                    text: 'Base line vs Current'
                },
                xAxis: {
                    categories: ['Base Line<br>*Study Start', 'Current']
                },
                yAxis: {
                    title: {
                        text: 'Scores'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '';
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [@Html.Raw(ABCg)
                    ]
        });
        //-----------------------------------------End----------------------------------------
 
            //-----------------------------------------Abbreviated Sensory Profile- Parent & Teacher----------------------------------------
            $('.dvSRSGroup').highcharts({
                chart: {
                    type: 'spline',
                    backgroundColor: null
                },
                title: {
                    text: 'SRS for Group (@studyName)'
                },
                subtitle: {
                    text: 'Base line vs Current'
                },
                xAxis: {
                    categories: ['Base Line<br>*Study Start', 'Current']
                },
                yAxis: {
                    title: {
                        text: 'Scores'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '';
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [@Html.Raw(SRSg)
                ]
            });
            //-----------------------------------------End----------------------------------------
    });
</script>






    var cTeacher = dsCharts.Tables[6].Rows.Count;
    DataRow[] drABCGroupTeacher = dsCharts.Tables[6].Select("SURVEYid = 4");
    string tempTeacher = "{name: '#name#',marker: {symbol: 'circle'},data: [#min#, #max# ]}",
           ABCgTeacher = "";
    DataRow[] drSRSGroupTeacher = dsCharts.Tables[6].Select("SURVEYid = 5");
    string SRSgTeacher = "";

    foreach (DataRow dr in drABCGroupTeacher)
    {
        ABCgTeacher += tempTeacher.Replace("#name#", dr["Name"].ToString()).Replace("#min#", dr["minScore"].ToString()).Replace("#max#", dr["maxScore"].ToString()) + ",";
    }
    foreach (DataRow dr in drSRSGroupTeacher)
    {
        SRSgTeacher += tempTeacher.Replace("#name#", dr["Name"].ToString()).Replace("#min#", dr["minScore"].ToString()).Replace("#max#", dr["maxScore"].ToString()) + ",";
    }
    ABCgTeacher = ABCgTeacher.TrimEnd(',');
    SRSgTeacher = SRSgTeacher.TrimEnd(',');

        <script type="text/javascript">
    $(function () {
        //-----------------------------------------Abbreviated Sensory Profile- Parent & Teacher----------------------------------------
        $('.dvABCGroupTeacher').highcharts({
                chart: {
                    type: 'spline',
                    backgroundColor: null
                },
                title: {
                    text: 'ABC for Group (@studyName)'
                },
                subtitle: {
                    text: 'Base line vs Current'
                },
                xAxis: {
                    categories: ['Base Line<br>*Study Start', 'Current']
                },
                yAxis: {
                    title: {
                        text: 'Scores'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '';
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [@Html.Raw(ABCgTeacher)
                    ]
        });
        //-----------------------------------------End----------------------------------------

            //-----------------------------------------Abbreviated Sensory Profile- Parent & Teacher----------------------------------------
        $('.dvSRSGroupTeacher').highcharts({
                chart: {
                    type: 'spline',
                    backgroundColor: null
                },
                title: {
                    text: 'SRS for Group (@studyName)'
                },
                subtitle: {
                    text: 'Base line vs Current'
                },
                xAxis: {
                    categories: ['Base Line<br>*Study Start', 'Current']
                },
                yAxis: {
                    title: {
                        text: 'Scores'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '';
                        }
                    }
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [@Html.Raw(SRSgTeacher)
                ]
            });
            //-----------------------------------------End----------------------------------------
    });
        </script>


}

<table cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="width: 14%;vertical-align: top;">
            <div class="graphTabs">                
                    <ul class="graphSections">
                        <li>
                            <a class="selected" href="#3" onclick="showGraphsSection(this, 1);">Parent</a>
                        </li>
                        <li>
                            <a href="#4" onclick="showGraphsSection(this, 2);">Teacher</a>
                        </li>
                        <li>
                            <a href="#5" onclick="showGraphsSection(this, 3);">Parent/Teacher</a>
                        </li>
                        <li>
                            <a href="#6" onclick="showGraphsSection(this, 4);">Weekly Teacher</a>
                        </li>
                    </ul>
                </div>           
        </td>
        <td style="width: 84%;border: solid 1px #CCC;">
            <div class="gDetails">
                <div class="parentdiv" style="overflow:hidden;padding-top:8px;margin:0px 0px 10px 0px;">
                    <div class="col-sm-6"><div class="dvABCGroup"></div></div>
                    <div class="col-sm-6"><div class="dvSRSGroup"></div></div>
                </div>

                <div class="teacherdiv" style="overflow:hidden;padding-top:8px;margin:0px 0px 10px 0px;">
                    <div class="col-sm-6"><div class="dvABCGroupTeacher"></div></div>
                    <div class="col-sm-6"><div class="dvSRSGroupTeacher"></div></div>
                </div>

                <div class="row parentteacherdiv">
                    <div class="col-sm-6 parentteacher" style="background-color:transparent;">
                        <div id="ABCSRScontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-sm-6 parentteacher" style="background-color:transparent;">
                        <div id="AbbreviatedSensoryProfile" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>

                <div class="row voffset parentdiv">
                    <div class="col-sm-6 parent" style="background-color:transparent;">
                        <div id="ABCSubCategoriesParent" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>                    
                    <div class="col-sm-6 parent" style="background-color:transparent;">
                        <div id="SRSSubScale" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>

                <div class="row voffset teacherdiv">
                    <div class="col-sm-6 teacher" style="background-color:transparent;">
                        <div id="ABCSubCategoryTeacher" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-sm-6 teacher" style="background-color:transparent;">
                        <div id="SRSSubScaleTeacher" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    @*<div class="col-sm-6" style="background-color:transparent;">
                    <div id="ShortLanguageProfile" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>*@
                </div>

                <div class="row voffset parentdiv">                    
                    <div class="col-sm-6 parent" style="background-color:transparent;">
                        <div id="PedsQLParent" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-sm-6 parent" style="background-color:transparent;">
                        <div id="CaregiverStrainQuesionaire" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>

                @*<div class="row voffset">
                    <div class="col-sm-6" style="background-color:transparent;">
                    <div id="PedsQLParentReport" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>*@

                <div class="row voffset parentdiv">
                    <div class="col-sm-6 parent" style="background-color:transparent;">
                        <div id="FamilyEmpowementScale" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    <div class="col-sm-6 parent" style="background-color:transparent;">
                        <div id="GISeverityIndex" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>

                <div class="row voffset teacherdiv">
                    <div class="col-sm-6 teacher" style="background-color:transparent;">
                        <div id="AcademicProgressDSMLevel1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                    @*<div class="col-sm-6" style="background-color:transparent;">
                    <div id="levelchangesforChild" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>*@
                </div>
                <div class="row voffset weeklydiv" >
                    @{Html.RenderPartial("~/Views/Home/_WeeklyChart.cshtml", new ViewDataDictionary { { "studyId", studyId }, { "childIdts", childId } });}

                </div>

                @*<div class="row voffset">
                    <div class="col-sm-6" style="background-color:transparent;">
                    <div id="WeeklyProgressScroe" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                    <div class="col-sm-6" style="background-color:transparent;">
                    <div id="levelchangesforChild2312" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
                </div>*@
            </div>


        </td>
    </tr>
</table>

<script type="text/javascript">
    $(function () {
        $(".teacherdiv").hide();
        $(".parentteacherdiv").hide();
        $(".weeklydiv").hide();
    });
    
    function showGraphsSection(elem, type) {
        $(".parentdiv").hide();
        $(".teacherdiv").hide();
        $(".parentteacherdiv").hide();
        $(".weeklydiv").hide();
        $(".graphTabs a").removeClass("selected");
        $(elem).addClass("selected");

        if (type == 1) {
            $(".parentdiv").show();
        }
        else if (type == 2) {
            $(".teacherdiv").show();
        }
        else if (type == 3) {
            $(".parentteacherdiv").show();
        }
        else if (type == 4) {
            $(".weeklydiv").show();
        }

        //$(window).resize();
    }
</script>
