@{
    ViewBag.Title = "eBit (Evidence Based Intervention and Treatment) facilitates";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper" style="position:relative;">
            <hgroup class="title">
                <h2>@ViewBag.Title.</h2>
            </hgroup>
        </div>
    </section>
}
<div style="height:30px;"></div>
<article>
    <img src="~/Images/at3Logo.png" alt="" style="margin-left:40px;display:block;" />
    <p>

        <ul>
            <li>Evidence-based care by enabling caregivers to quantify the effects of interventions</li>
            <li>Integrated care by allowing caregivers to share progress within their network.</li>
        </ul>

    </p>
</article>
<aside>
    <div>

    </div>
</aside>
