@model System.Data.DataSet
@{
    ViewBag.Title = "eBit - Questionnaire Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ds = Model;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Questionnaire Manager</h2> 
            </hgroup>
            <p style="font-size:16px;"> 
                Find the list of surveys below and click for details.
            </p>
        </div>
    </section>
}
<div class="list-group">
    @foreach (System.Data.DataRow dr in ds.Tables[0].Rows)
    {
        if (dr["ID"] != DBNull.Value && (int)dr["ID"] != 21)
        {
            <a href="@Url.Action("Survey", "Survey", new { surveyID = dr["ID"].ToString() })" class="list-group-item">
                <strong>Preview:</strong> @dr["Title"].ToString() @((int)dr["ID"] == 6 ? " for 2yrs - 4yrs" : ((int)dr["ID"] == 7 ? " for 5yrs - 7yrs" : ((int)dr["ID"] == 8 ? " for 8yrs - 12yrs" : ((int)dr["ID"] == 9 ? " for 13yrs - 18yrs" : ""))))
            </a>
        }
    }
</div>